<h1>Calculate Scrabble Score</h1>
<form action="/word">
  <div class="form-group">
    <label for="word">What word would you like to score?
    </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
